<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h2><a href="">Django Girls Blog</a></h2>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Thank you for your help!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Always remember, re-start</p>
        </div>
    </body>
</html>
